<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Bee Thousand</h3>
    <nav class="nav nav-masthead">
    <%= links_helper '', 'nav-link' %>
    <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>
