<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <%= render 'shared/page_navbar' %>
    </div>
    <div class="container">
      This Will Become an About Page
    </div>

    <div class="inner cover">
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
      </p>
    </div>
    <div class="cover-container">
      <div class="mastfoot">
        <div class="inner">
          <p>Disclaimer</p>
        </div>
      </div>
    </div>
  </div>
</div>
