<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Bee Thousand</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link" href="#">Contact</a>
            <a class="nav-link active" href="#">About</a>
            <a class="nav-link" href="#">Testimonials</a>
            <a class="nav-link" href="#">Login</a>
          </nav>
        </div>
      </div>
    </div>

      <div class="container">
        <div class="row">
          <div class="col-md-8">
            Video <br>
            <img src="http://placehold.it/600x400" alt="">

          </div>
          <div class="col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, fugiat, ipsum. Ex officia illum suscipit ad mollitia tempora exercitationem aliquam iusto magni doloremque, nam dolor quibusdam nostrum quod, natus corporis.
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <img src="http://placehold.it/150x150" alt="">

          </div>
          <div class="col-md-9">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et doloremque, quasi! Odio, aliquid cupiditate pariatur recusandae consectetur veritatis consequuntur voluptates excepturi iure sequi nostrum eaque repellendus maiores saepe provident necessitatibus!
          </div>
        </div>
      </div>

      <div class="inner cover">
        <p class="lead">
          <a href="#" class="btn btn-lg btn-primary">Sign Up</a>
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </div>
      <div class="cover-container">
        <div class="mastfoot">
          <div class="inner">
            <p>Disclaimer</p>
          </div>
        </div>
      </div>
  </div>
</div>
