<div class="card" style="width: 95%;">
  <div class="card-block">
    <h4 class="card-title"><%= alert.symbol %>  Shares: <%= alert.shares %></h4>
    <p class="card-text">Price: <%= alert.entry %></p>
    <p>Notes About Trade.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    <hr>
  </div>
</div>
