<div class="row">
  <div class="col-md-12">
  <img src="http://placehold.it/50x50" alt="Gravatar" class='float-left'>
    <div class="talk-bubble tri-right left-top border">
      <div class="talktext">
        <li id="micropost-<%= dom_id(micropost) %>">
        <span>User Name</span>
        <span>Post TIme</span>
        <span>Hearts</span>
        </li>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nulla voluptates animi doloribus velit, reiciendis voluptatum sunt delectus, quia dolor mollitia reprehenderit? Debitis blanditiis, corporis! Officiis ab, quaerat dolores. Doloremque.</p>
      </div>
    </div>
  </div>
</div>
