<header>
  <h1>This Will Be A Header.</h1>
  <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
</header>

<div class="row">
  <div class="col-md-9 col-offset-md-3">
    <%= render 'microposts/form', micros: @microposts %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-3 push-md-9">
    <div class="card" style="width: 95%;">
      <div class="card-block">
        <h4 class="card-title">Entry XYZ $20.01</h4>
        <p class="card-text">Shares: 100</p>
        <p>Notes About Trade.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-9 pull-md-3">
    <ol class="microposts">
    <%= render @microposts %>
    </ol>
  </div>
</div>
