<div class="row">
  <div class="col-md-12">
  <img src="http://placehold.it/50x50" alt="Gravatar" class='float-left'>
    <div class="talk-bubble tri-right left-top border">
      <div class="talktext">
        <li id="micropost-<%= dom_id(micropost) %>">
        <span><%= micropost.user_email %></span>
        <span>Post Time</span>
        <span>Hearts</span>
        <%= delete_micropost_helper micropost %>
        </li>
        <p><%= micropost.content %></p>
      </div>
    </div>
  </div>
</div>
